@import '/usr/share/my-desktop/colors/mocha.css';

* {
	font-family: "JetbrainMono NF";
	background-image: none;
	transition: 20ms;
	box-shadow: none;
}

window {
	background-image: url("/usr/share/my-desktop/wallpapers/wallpaper_blurred.png");
	background-size: cover;
	background-color: rgba(0,0,0,0.5);
}

button {
    	color: @crust;
    	font-size: 200px;
	padding: 30px;

	margin: 80px;

	border: 8px solid rgba(0,0,0,0);
	border-style: solid;
	border-radius: 20px;

    	background-repeat: no-repeat;
	background-position: center;
	background-size: 30%;
	background-color: @crust;

    	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:focus,
button:active,
button:hover {
	border: 8px solid @crust;
}

#lock {
	background-color: @teal;
}

#logout {
	background-color: @sky;
}

#reboot {
	background-color: @sapphire;
}

#suspend {
	background-color: @blue;
}

#hibernate {
	background-color: @lavender;
}

#shutdown {
	background-color: @mauve;
}


