* {
	font-family: "JetbrainMono NF", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	background-image: none;
	transition: 20ms;
	box-shadow: none;
}

window {
	background-image: url("/usr/share/my-desktop/wallpapers/wallpaper_blurred.png");
	background-size: cover;
}

button {
    	color: #FFFFFF;
    	font-size: 32px;
	border-style: solid;

    	background-repeat: no-repeat;
	background-position: center;
	background-size: 30%;

	background-color: rgba(12, 12, 12, 0.7);
	border: 3px solid #FFFFFF;
    	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:focus,
button:active,
button:hover {
	border: 3px solid rgb(34, 221, 238);
	background-color: rgba(22, 22, 22, 1);
}

#lock {
	margin: 20px;
	border-radius: 20px;
	background-image: image(url("lock.png"));
}

#logout {
	margin: 20px;
	border-radius: 20px;
	background-image: image(url("logout.png"));
}

#suspend {
	margin: 20px;
	border-radius: 20px;
	background-image: image(url("suspend.png"));
}

#hibernate {
	margin: 20px;
	border-radius: 20px;
	background-image: image(url("hibernate.png"));
}

#shutdown {
	margin: 20px;
	border-radius: 20px;
	background-image: image(url("shutdown.png"));
}

#reboot {
	margin: 20px;
	border-radius: 20px;
	background-image: image(url("reboot.png"));
}

